* {
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../img/erassssss.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.social-media-icon {
    margin: 0 0.5rem;
}

.phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 1rem;
    border-radius: 1rem;
}

.phone-text {
    text-align: center;
}