body{
    background-image: url("../img/erassssss.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
ul {
    display: flex;
    flex-direction: row;
   
}
ul li{
    list-style: none;
    margin-right: 8%;
    
}
ul li a{
    text-decoration: none;
    color: rgb(244, 244, 244);
    font-size: 90%;     
    
}
header{
    
}
h1{
    color: rgb(0, 136, 255);
    font-size: 80%;
    
}
img{
    width: 6%;
}
a{
    color: aliceblue;
    padding-left: 12%;
    margin-left: 3%;
}


